@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    @RenderSection("styles", false)

    <style type="text/css">
        ul.menulnks,
        div.menu ul
        {
            margin-left: 0;
            text-indent: -1em;
        }

        ul.menulnks li,
        div.menu ul li
        {
            margin-top: 10px;
            padding-left: 1em;
        }

        ul.menulnks li:first-child,
        div.menu ul li:first-child
        {
            margin-top: 0px;
        }

        div.menu
        {
            display: none;
        }

        div.header
        {
            font-weight: bold;
            margin-bottom: 10px;
        }

        div.summary
        {
            font-style: italic;
            margin-bottom: 10px;
        }

        div.note
        {
            margin-top: 10px;
            font-weight: bold;
            font-style: italic;
        }

        a.menulnk
        {
            cursor: pointer;
        }
    </style>
}

<h2><i class="fa fa-cutlery"></i> @ViewBag.Title</h2>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m3">
                @RenderSection("leftnav", true)
            </div>
            <div class="col s12 m9">
                <div id="initdiv">
                    Click a menu link to see a menu.
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", false)

    <script type="text/javascript">
        var _$currLink;
        var _currMenu = "initdiv";

        $('a.menulnk').click(function (e) {
            var $link = $(this);
            var menu = $link.data("menu");

            $('#' + _currMenu).fadeOut('slow', function () {
                $('#' + menu).fadeIn('slow');
                _currMenu = menu;

                if (_$currLink) _$currLink.removeClass("pink-text darken-4");
                $link.addClass("pink-text darken-4");
                _$currLink = $link;
            });
        });
    </script>
}
