@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    @RenderSection("styles", false)
}

<h2 id="menutitle"><i class="fa fa-cutlery"></i> @ViewBag.Title</h2>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m3">
                <div id="menunav">
                    @RenderSection("menunav", true)
                </div>
            </div>
            <div class="col s12 m9">
                <div id="initdiv">
                    Click a menu link to see a menu.
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", false)

    <script type="text/javascript">
        $(function () {
            var _$currLink;
            var _currMenu = "initdiv";

            $('a.menulnk').click(function () {
                var $link = $(this);
                var menu = $link.data("menu");

                $('#' + _currMenu).fadeOut('slow', function () {
                    $('#' + menu).fadeIn('slow');
                    _currMenu = menu;

                    if (_$currLink) _$currLink.removeClass("pink-text darken-4");
                    $link.addClass("pink-text darken-4");
                    _$currLink = $link;
                });
            });
        });
    </script>
}